<div class="container">
  <div class="page-header" style="text-align:center">
    <h1>{{title}} App</h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Lamp</td>
        <td>R$ 10,40</td>
        <td><a href="#">Apagar <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a> / <a href="#">Editar <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Screwdriver</td>
        <td>R$ 15,70</td>
        <td><a href="#">Apagar <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a> / <a href="#">Editar <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Knife</td>
        <td>R$ 20,50</td>
        <td><a href="#">Apagar <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a> / <a href="#">Editar <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
      </tr>
    </tbody>
  </table>
</div>
