<div class="container">
  <form class="form-inline product_forms" *ngIf="newProductForm">
    <h3>Cadastrar Novo Produto</h3>
    <div class="form-group">
      <input type="text" [(ngModel)]="newProduct.nome" name="name" class="form-control" id="nome" placeholder="Nome do Produto" maxlength="30" size="30" required>
    </div>
    <div class="form-group">
      <input type="number" [(ngModel)]="newProduct.valor" name="valor" step="0.01" class="form-control" id="valor" placeholder="valor ( R$ 0.00 )" maxlength="10" size="10" required>
    </div>
    <button type="submit" class="btn btn-default" (click)="saveProduct(newProduct)">Cadastrar</button>
  </form>
  <form class="form-inline product_forms" *ngIf="editProductForm">
    <button type="button" class="btn btn-default" aria-label="Left Align" (click)="showAddProductForm()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true">Cadastrar</span>
    </button>
    <h3>Editar Produto</h3>
    <div class="form-group">
      <input type="text" [(ngModel)]="editedProduct.nome" name="name" class="form-control" id="nome" placeholder="Nome do Produto" maxlength="30" size="30" required>
    </div>
    <div class="form-group">
      <input type="number" [(ngModel)]="editedProduct.valor" name="valor" step="0.01" class="form-control" id="valor" placeholder="valor ( R$ 0.00 )" maxlength="10" size="10" required>
    </div>
    <button type="submit" class="btn btn-default" (click)="updateProduct(editedProduct)">Atualizar</button>
  </form>
  <hr/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" id="tr_item">
        <td>{{product.id}}</td>
        <td>{{product.nome}}</td>
        <td>R$ {{product.valor}}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="deleteProduct(product)">Apagar <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button> /
          <button class="btn btn-primary btn-sm" (click)="showEditProductForm(product)">Editar <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
