<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th class="text-center">Preço</th>
            <th class="text-center">Total</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of shoppingCartItems">
            <td class="col-sm-8 col-md-6">
              <div class="media">
                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">{{item.nome}}</a></h4>
                  <span>Status: </span><span class="text-success"><strong>Em estoque</strong></span>
                </div>
              </div>
            </td>
            <td class="col-sm-1 col-md-1" style="text-align: center">
              <input type="number" class="form-control" id="qtd" value="{{item.quantidade}}" min="0">
            </td>
            <td class="col-sm-1 col-md-1 text-center"><strong>R$ {{item.valor}}</strong></td>
            <td class="col-sm-1 col-md-1 text-center"><strong>R$ {{item.valor * item.quantidade}}</strong></td>
            <td class="col-sm-1 col-md-1">
              <button class="btn btn-primary btn-sm" (click)="removeShoppingCartItems(item.shopping_cart_id)"> Remover <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <h5>Subtotal</h5></td>
            <td class="text-right">
              <h5><strong>R$ 24.59</strong></h5></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <h5>Frete</h5></td>
            <td class="text-right">
              <h5><strong>R$ 12.50</strong></h5></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <h3>Total</h3></td>
            <td class="text-right">
              <h3><strong>R$ 31.53</strong></h3></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <a type="button" class="btn btn-default" routerLink="/catalog">
                <span class="glyphicon glyphicon-shopping-cart"></span> Continuar Comprando
              </a>
            </td>
            <td>
              <button type="button" class="btn btn-success">
                Pagar <span class="glyphicon glyphicon-play"></span>
              </button>
            </td>
          </tr>
          <tbody>
      </table>
    </div>
  </div>
</div>
